@page "/"

<PageTitle>Scooter Miners</PageTitle>

<h1>Hello, Scooter Miners!</h1>
<br />

<div class="row">
    <div class="col d-flex justify-content-between">
        <span>Маяк</span>
        <SfSwitch @bind-Checked="@beaconEnabled" ValueChange="@ToggleBeacon" OnLabel="On" OffLabel="Off" TChecked="bool" />

    </div>
</div>

<div class="row mt-2">
    <div class="col d-flex justify-content-between">
        <span>Поиск</span>
        @*<TelerikSwitch Value="@scanEnabled" ValueExpression="@(() => scanEnabled)" ValueChanged="@((bool value) => ToggleScanner(value))" OnLabel="ВКЛ" OffLabel="ВЫКЛ" Width="5rem" />*@
    </div>
</div>

<h3>Position</h3>

<div>
    <ul>
        <li>My Latitude: @currentPosition?.Coords.Latitude</li>
        <li>My Longitude: @currentPosition?.Coords.Longitude</li>
        <li>My Accuracy: @currentPosition?.Coords.Accuracy</li>
        <li>Beacon Latitude: @beacon?.Latitude</li>
        <li>Beacon Longitude: @beacon?.Longitude</li>
        <li>Distance: @GetDistance()</li>
    </ul>
</div>
